In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("cardekho.csv")
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage(km/ltr/kg),engine,max_power,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.50,1197.0,82.85,5.0
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.80,1493.0,110,5.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.30,1248.0,73.9,5.0
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57,1396.0,70,5.0
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57,1396.0,70,5.0

In [3]:
df.isnull().sum()

name                    0
year                    0
selling_price           0
km_driven               0
fuel                    0
seller_type             0
transmission            0
owner                   0
mileage(km/ltr/kg)    221
engine                221
max_power             215
seats                 221
dtype: int64

In [4]:
for i in df.columns:
            if(df[i].isnull):
                if(df[i].dtype == "float"):
                    df[i] = df[i].fillna(df[i].mean().astype(int))

df["max_power"] = df["max_power"].fillna(df[i].mean().astype(int))
df["age"] = 2026 - df["year"]
for i in df["name"]:
    name = i.split() 
    df["brand"] = name[0]

In [5]:
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage(km/ltr/kg),engine,max_power,seats,age,brand
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74,5.0,12,Tata
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0,12,Tata
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78,5.0,20,Tata
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90,5.0,16,Tata
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.2,5.0,19,Tata
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.50,1197.0,82.85,5.0,13,Tata
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.80,1493.0,110,5.0,19,Tata
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.30,1248.0,73.9,5.0,17,Tata
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57,1396.0,70,5.0,13,Tata
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57,1396.0,70,5.0,13,Tata

In [6]:
df.isnull().sum()

name                  0
year                  0
selling_price         0
km_driven             0
fuel                  0
seller_type           0
transmission          0
owner                 0
mileage(km/ltr/kg)    0
engine                0
max_power             0
seats                 0
age                   0
brand                 0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                8128 non-null   object
 1   year                8128 non-null   int64
 2   selling_price       8128 non-null   int64
 3   km_driven           8128 non-null   int64
 4   fuel                8128 non-null   object
 5   seller_type         8128 non-null   object
 6   transmission        8128 non-null   object
 7   owner               8128 non-null   object
 8   mileage(km/ltr/kg)  8128 non-null   float64
 9   engine              8128 non-null   float64
 10  max_power           8128 non-null   object
 11  seats               8128 non-null   float64
 12  age                 8128 non-null   int64
 13  brand               8128 non-null   object
dtypes: float64(3), int64(4), object(7)
memory usage: 889.1+ KB

In [8]:
df.describe()

,year,selling_price,km_driven,mileage(km/ltr/kg),engine,seats,age
count,8128.000000,8.128000e+03,8.128000e+03,8128.000000,8128.000000,8128.000000,8128.000000
mean,2013.804011,6.382718e+05,6.981951e+04,19.407397,1458.608022,5.405389,12.195989
std,4.044249,8.062534e+05,5.655055e+04,3.982458,497.017515,0.948874,4.044249
min,1983.000000,2.999900e+04,1.000000e+00,0.000000,624.000000,2.000000,6.000000
25%,2011.000000,2.549990e+05,3.500000e+04,16.800000,1197.000000,5.000000,9.000000
50%,2015.000000,4.500000e+05,6.000000e+04,19.100000,1248.000000,5.000000,11.000000
75%,2017.000000,6.750000e+05,9.800000e+04,22.277500,1582.000000,5.000000,15.000000
max,2020.000000,1.000000e+07,2.360457e+06,42.000000,3604.000000,14.000000,43.000000

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x = df.drop(columns = ["name","selling_price","year","fuel","seller_type","transmission","owner","max_power"])
x

      km_driven  mileage(km/ltr/kg)  engine  seats  age brand
0        145500               23.40  1248.0    5.0   12  Tata
1        120000               21.14  1498.0    5.0   12  Tata
2        140000               17.70  1497.0    5.0   20  Tata
3        127000               23.00  1396.0    5.0   16  Tata
4        120000               16.10  1298.0    5.0   19  Tata
...         ...                 ...     ...    ...  ...   ...
8123     110000               18.50  1197.0    5.0   13  Tata
8124     119000               16.80  1493.0    5.0   19  Tata
8125     120000               19.30  1248.0    5.0   17  Tata
8126      25000               23.57  1396.0    5.0   13  Tata
8127      25000               23.57  1396.0    5.0   13  Tata

[8128 rows x 6 columns]

In [11]:
y = df["selling_price"]
y

0       450000
1       370000
2       158000
3       225000
4       130000
         ...
8123    320000
8124    135000
8125    382000
8126    290000
8127    290000
Name: selling_price, Length: 8128, dtype: int64

In [12]:
x_train,x_test,y_train,y_test = train_test_split(x.select_dtypes(include=np.number),y,test_size=0.20,random_state=99)

In [13]:
x_train.shape,x_test.shape

((6502, 5), (1626, 5))

In [14]:
y_train.shape,y_test.shape

((6502,), (1626,))

In [15]:
from sklearn.preprocessing import StandardScaler

In [16]:
scaling = StandardScaler()

In [17]:
x_train = scaling.fit_transform(x_train)
x_train

array([[ 8.95301705e-04,  6.41574767e-01, -5.28973748e-01,
        -4.26011822e-01, -1.04599389e+00],
       [ 4.85633177e-01, -2.24687144e+00,  1.45498550e+00,
         2.71449710e+00,  2.73446873e+00],
       [-1.67073646e-01, -3.83195715e-01, -7.53229834e-01,
        -4.26011822e-01,  1.72634536e+00],
       ...,
       [-5.96486030e-01, -4.88686794e-01, -3.24920913e-01,
        -4.26011822e-01,  1.22228368e+00],
       [ 1.89410580e+00,  1.44531632e+00, -4.25937168e-01,
        -4.26011822e-01, -2.89901363e-01],
       [-6.82368507e-01,  6.41574767e-01,  2.48851416e-01,
        -4.26011822e-01, -1.04599389e+00]])

In [18]:
x_test = scaling.transform(x_test)

In [19]:
from sklearn.ensemble import RandomForestRegressor

In [20]:
rfr = RandomForestRegressor(n_estimators=10)

In [21]:
rfr.fit(x_train,y_train)

RandomForestRegressor(n_estimators=10)

In [22]:
y_hat = rfr.predict(x_test)
y_hat

array([257959.94, 274999.9 , 213999.8 , ..., 372000.  , 199599.7 ,
       369000.  ])

In [23]:
y_test

586     280000
799     400000
4629    200000
837     380000
5650    200000
         ...
5100    645000
8116    340000
6304    315000
6101    350000
4605    350000
Name: selling_price, Length: 1626, dtype: int64

In [24]:
from sklearn.metrics import r2_score

In [25]:
acc = r2_score(y_test,y_hat)
print(acc)

0.9534731255312381

In [26]:
km_driven = float(input("Enter km_driven by car: "))
mileage = float(input("Enter mileage of car: "))
engine_capacity = float(input("Enter engine capacity: "))
seats = int(input("Enter no. of seats: "))
age = float(input("Enter age of car: "))

sample = np.array([[km_driven,mileage,engine_capacity,seats,age]])
prediction = rfr.predict(sample)
print(prediction)

Enter km_driven by car:  223400
Enter mileage of car:  12
Enter engine capacity:  1120
Enter no. of seats:  5
Enter age of car:  20

[738500.]